body{
    
    background-image : url("../images/img44.jpg");
    background-size: cover ;
    background-attachment: fixed;
    
}
/* home page*/
/* start header */
.header{
    background-color:rgb(141, 214, 248);
    height: 110px;
   position:absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
}


.header > nav 
{
    float: right;
    margin-top: 13px;
}
.header > nav > ul  {
    color: black;
    margin-right:60px;
    list-style:none;  
}
.header > nav > ul > li{
   display: inline;
    margin-left:10px;
}
 
.header > nav > ul > li > a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
  
     
}
.header > nav > ul > li > a:hover{
    color:rgb(223, 23, 146);
    text-decoration: underline overline;
    text-decoration-style: dotted;
    text-decoration-color: white;
}

.header .logo{
    color: rgb(44, 25, 3);
    float: left;
    text-transform: uppercase;
    margin-left:15px;
    text-shadow: 6px -10px 3px rgb(110, 122, 226);

}

.header .logo h1 span{
  color:rgb(252, 11, 31);
}

/* end header */
.header .search {
margin: 15px ;
margin-left: 750px;
width: max-content;
overflow: hidden;
align-content: center;
display: inline-block;
color: blue;

}
.header form
{
    color: rgb(198, 138, 238));
    float:right;
    margin: 50px 850px 50px 500px ;
   
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(164, 104, 241);
  box-sizing: border-box;
}

button
{
    float:right;
     margin:  -3px 1px;
     
     background-color:#999;



}


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 6px 15px;
  background-color: #ddd;
  margin: -16px 15px 50px;
}

/* Center the image and position the close button */


span.psw {
  float: right;
  padding-top: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 130%; /* Full width */
  height: 160%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(129, 238, 193); /* Fallback color */
  background-color: rgba(165, 245, 228, 0.4); /* Black w/ opacity */
  padding-top: 60px;

}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(1, 8, 10);
  margin: 300px 350px 300px; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(150, 231, 245);
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(140, 247, 224);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:white;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.paragraph
{
    margin: 30px 40px;
}
.paragraph .info
{
    margin: 50px 5px 10px 5px;
    background-color: silver;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 10px;

}
.imgcontainer {
  
  position: relative;
    
    text-align: center;

}

.container {
  color: aqua;
  background-color: blueviolet;
  padding: 20px;
}
/* body of home page*/
.def
{
    margin-top: -150px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 50px;
}
.fashion
{
  font-style: italic;
  
    color:rgb(22, 125, 151);
    font-size: 30px;
}
.links
{
    display: inline-block;
}
.ws_images
{ 
margin-top: 100px;
margin-bottom: 50px;
z-index: -1;
 }
 /* comment page -->*/
 .com
 {
    margin-left: 530px;
    margin-top: 137px;
    margin-bottom: 30px;
    font-size: 35px;
    color:rgb(201, 154, 183);;
    font-weight: bold;

 }
 
 
 .name
 {
    width: 900px;
    height: 1800px;
margin-top: 20px;
margin-left: 300px;
padding: 27px;
font-size: 15px;
display: inline-block;
border: 1px solid #ddd;
border-radius: 30px;
 }
 .c 
 {
   font-size: 20px;
   background-color:  rgb(149, 208, 241);
   padding-left: 15px;
   border: 1px solid   rgb(149, 208, 241);
   border-radius: 30px ;
   margin: 10px;

 }
 .a{
  background-color: rgb(182, 175, 175);
  padding-left: 15px;
  border: 1px solid  rgb(182, 175, 175);
  border-radius: 30px;
  margin: 10px;

 }
.time
{
    margin-left: 200px;
    font-style: italic;
    font-size: 10px;

}

.pla
{
    margin-left: 100px;
    margin-top: -50px;
}
.pic 
{
  border: 1px solid rgb(149, 208, 241);
  border-radius: 30px;
}

/* product pages*/
.product{
  
  
  width:30%;
  margin-top:100px;
  margin-left:20px;
  box-shadow:5px 5px 20px    ;
  display: inline-block;
  border: 1px solid rgb(201, 154, 183);
  border-radius: 5px;
  position: relative;
  height: 400px;
  z-index:-1 ;
}

.product img{
position: absolute;
top:32px;
  max-width: 60%;
  margin-left:70px;
  
}

.product h3{
  position: absolute;
  text-align: center;
  bottom:50px;
  left:150px;

}
/*contact us*/
.somi 
{
  place-items: left;
margin-top: 150px;
margin-left: 320px;
background-color:rgb(192, 211, 247); 
width: 400px;
height: 200px;
padding: 34px 14px 24px 14px;
display: block;

}
.copyright
{
  margin:10px auto 20px 20px ;
}
.links{
  margin: 10px auto 20px 20px;
  
}
.call
{
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 70px;
  padding: 20px;
  
}
.tel
{
  padding-left: 50px;
  padding-right: 50px;
}
.textarea
{
  color: black;
  background-color: rgb(207, 219, 243);
  margin: 30px auto 20px 380px;
}
/* society page*/
.information
{
background-color: rgb(168, 206, 250);
width: 700px;
margin: 30px auto 10px auto;
font-size: 20px;
padding: 20px;
place-content: left;
}
.info{
  font-size: 37px;
  color:rgb(28, 11, 77);
  font-family: cursive;
  font-style: italic;
  margin-left: 120px;
  place-content: left;

}

